target
.idea
*.iml
*.class
.DS_Store
*.war
*.jar
worker/target
ops/container/worker-0.1.0.jar
worker-0.1.0.jar.original
**/META-INF/env/*.properties
**/META-INF/*.properties
!application-template.properties
**/resources/log4j.properties